#pycache
*.pyc
__pycache__
.cache/*

#json blobs
devices_local.json
deivces.json
device_deps.json

#virtualenv
bin
lib
include
share
local
pip-selfcheck.json

#bdist
build/
dist/
*.egg-info
venv/

#metric data
metrics/*.db
