#pycache
*.pyc
__pycache__
.cache/*

#json blobs
devices_local.json
devices.json
device_deps.json

#virtualenv
bin
lib
lib64
include
share
local
pip-selfcheck.json
pyvenv.cfg

#bdist
build/
dist/
*.egg-info
venv/

#metric data
metrics/*.db

# PyCharm data
.idea/
.vscode
.python-version
