arrow==1.2.1
atomicwrites==1.2.1
attrs==18.2.0
certifi==2021.10.8
chardet==3.0.4
charset-normalizer==2.0.9
click==8.0.3
Deprecated==1.2.13
Flask==2.0.2
Flask-Caching==1.10.1
Flask-WTF==1.0.0
gunicorn==19.7.1
idna==3.3
importlib-metadata==4.8.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
more-itertools==4.3.0
packaging==21.3
pluggy==0.8.0
prometheus-client==0.0.21
py==1.7.0
pyparsing==3.0.6
pytest==4.0.0
python-dateutil==2.8.2
redis==4.1.0
requests==2.26.0
six==1.16.0
typing_extensions==4.0.1
urllib3==1.26.7
Werkzeug==2.2.3
wrapt==1.13.3
WTForms==3.0.0
zipp==3.6.0
