<!DOCTYPE html>
<html lang="en">
    <head>
        <title>LineageOS Downloads</title>
        <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
        <link rel="stylesheet" href="/static/site.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="icon" sizes="16x16 32x32" href="/static/favicons/favicon.ico">
        <!--[if IE]><link rel="shortcut icon" href="/static/favicons/favicon.ico"><![endif]-->
        <link rel="apple-touch-icon-precomposed" href="/static/favicons/favicon-152.png">
        <meta name="theme-color" content="#167C80">
        <meta name="msapplication-TileColor" content="#167C80">
        <meta name="msapplication-TileImage" content="/static/favicons/favicon-144.png">
    </head>
    <body>
        <nav>
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo center">LineageOS Downloads</a>
                <ul id="slide-out" class="side-nav fixed">
                    <li>
                        <div class="userView">
                            <div class="background">
                                <img src="/static/iconoclast.png">
</div>
                            <a href="#!user"><img class="logo circle" src="/static/logo.png" height=128px width=128px /></a>
                            <a href="#!name"><span class="white-text name">Devices</span></a>
                        </div>
                    </li>
                    {% for oem in oems %}
                    <li class="no-padding">
                        <ul class="collapsible collapsible-accordian">
                            <li class="bold">
                                {% if oem == active_oem %}
                                <a class="collapsible-header waves-effect waves-teal bold active">{{oem}}</a>
                                {% else %}
                                <a class="collapsible-header waves-effect waves-teal bold">{{oem}}</a>
                                {% endif %}
                                <div class="collapsible-body">
                                    <ul>
                                        {% for device in devices %}
                                        {% if device.oem == oem %}
                                        {% if active_device %}
                                        {% if device.model == active_device.model %}
                                        <li class="active grey darken-2"><a href="/{{device.model}}">{{device.name}} ({{device.model}})</a></li>
                                        {% else %}
                                        <li ><a href="/{{device.model}}">{{device.name}} ({{device.model}})</a></li>
                                        {% endif %}
                                        {% else %}
                                        <li ><a href="/{{device.model}}">{{device.name}} ({{device.model}})</a></li>
                                        {% endif %}
                                        {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
                    {% endfor %}
                    <li class="no-padding">
                        <ul class="collapsible collapsible-accordian">
                            <li class="bold">
                                {% if extras %}
                                <a class="collapsible-header waves-effect waves-teal bold active" href="/extras">Extras</a>
                                {% else %}
                                <a class="collapsible-header waves-effect waves-teal bold" href="/extras">Extras</a>
                                {% endif %}
                            </li>
                        </ul>
                    </li>
                </ul>
                <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
            </div>
        </nav>
        <main>
        {% block content %}
        {% endblock %}
        </main>
        <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l12 s12">
                  {% if not changelog %}
                  <p class="grey-text text-lighten-4">You can verify a file has not been tampered with by checking i's signature. More information on how to do this can be found <a class="grey-text text-lighten-1" href="https://wiki.lineageos.org/verifying-builds.html">here</a>.</p>
                  {% endif %}
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017 LineageOS. Licensed under Apache 2.0.
            <a class="grey-text text-lighten-4 right" href="https://github.com/lineageos/lineageos_updater">Source</a>
            </div>
          </div>
        </footer>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
        {% block script %}
        {% endblock %}
        <script type="text/javascript">
            $(".button-collapse").sideNav();
        </script>
    </body>
</html>


