{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="card-panel">
                <h4>Builds for {{active_device.model}}</h4>
                <strong><a href="/{{active_device.model}}/changes/">Show all merged changes for {{active_device.model}}</a></strong>
                <div class="scrollable-table">
                    <table class="striped bordered">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Version</th>
                                <th>File</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for rom in roms %}
                            <tr>
                                <td>{{rom.romtype}}</td>
                                <td>{{rom.version}}</td>
                                <td>
                                    <a href="{{rom.url}}">{{rom.filename}}</a> <br /><small><a href="{{rom.url}}?sha256">sha256</a> <a href="{{rom.url}}?sha1">sha1</a></small>
                                </td>
                                <td>{{rom.datetime.strftime("%Y-%m-%d %H:%M:%S %Z")}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}

{% endblock %}
