{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="card-panel">
                <h4>Extras</h4>
                <div class="scrollable-table">
                    <table class="striped bordered">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Version</th>
                                <th>File</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>su (arm)
                                <br>su (arm64)
                                <br>su (x86)</td>
                                <td>14.1</td>
                                <td><a href="https://mirrorbits.lineageos.org/su/addonsu-14.1-arm-signed.zip">addonsu-14.1-arm-signed.zip</a><br>
                                    <small><a href="https://mirrorbits.lineageos.org/su/addonsu-14.1-arm-signed.zip?sha1">sha1</a> <a href="https://mirrorbits.lineageos.org/su/addonsu-14.1-arm-signed.zip?sha256">sha256</a></small><br>
                                    <a href="https://mirrorbits.lineageos.org/su/addonsu-14.1-arm64-signed.zip">addonsu-14.1-arm64-signed.zip</a><br>
                                    <small><a href="https://mirrorbits.lineageos.org/su/addonsu-14.1-arm64-signed.zip?sha1">sha1</a> <a href="https://mirrorbits.lineageos.org/su/addonsu-14.1-arm64-signed.zip?sha256">sha256</a></small><br>
                                    <a href="https://mirrorbits.lineageos.org/su/addonsu-14.1-x86-signed.zip">addonsu-14.1-x86-signed.zip</a><br>
                                    <small><a href="https://mirrorbits.lineageos.org/su/addonsu-14.1-x86-signed.zip?sha1">sha1</a> <a href="https://mirrorbits.lineageos.org/su/addonsu-14.1-x86-signed.zip?sha256">sha256</a></small>
                                </td>
                                <td>2017-06-21</td>
                            </tr>
                            <tr>
                                <td>su removal (arm)
                                <br>su removal (arm64)
                                <br>su removal (x86)</td>
                                <td>14.1</td>
                                <td><a href="https://mirrorbits.lineageos.org/su/addonsu-remove-14.1-arm-signed.zip">addonsu-remove-14.1-arm-signed.zip</a><br>
                                    <small><a href="https://mirrorbits.lineageos.org/su/addonsu-remove-14.1-arm-signed.zip?sha1">sha1</a> <a href="https://mirrorbits.lineageos.org/su/addonsu-remove-14.1-arm-signed.zip?sha256">sha256</a></small><br>
                                    <a href="https://mirrorbits.lineageos.org/su/addonsu-remove-14.1-arm64-signed.zip">addonsu-remove-14.1-arm64-signed.zip</a><br>
                                    <small><a href="https://mirrorbits.lineageos.org/su/addonsu-remove-14.1-arm64-signed.zip?sha1">sha1</a> <a href="https://mirrorbits.lineageos.org/su/addonsu-remove-14.1-arm64-signed.zip?sha256">sha256</a></small><br>
                                    <a href="https://mirrorbits.lineageos.org/su/addonsu-remove-14.1-x86-signed.zip">addonsu-remove-14.1-x86-signed.zip</a><br>
                                    <small><a href="https://mirrorbits.lineageos.org/su/addonsu-remove-14.1-x86-signed.zip?sha1">sha1</a> <a href="https://mirrorbits.lineageos.org/su/addonsu-remove-14.1-x86-signed.zip?sha256">sha256</a></small>
                                </td>
                                <td>2017-06-21</td>
                            </tr>
                            <tr>
                                <td>su (arm)
                                <br>su (arm64)
                                <td>13.0</td>
                                <td><a href="https://mirrorbits.lineageos.org/su/addonsu-13.0-arm-signed.zip">addonsu-13.0-arm-signed.zip</a><br>
                                    <small><a href="https://mirrorbits.lineageos.org/su/addonsu-13.0-arm-signed.zip?sha1">sha1</a> <a href="https://mirrorbits.lineageos.org/su/addonsu-13.0-arm-signed.zip?sha256">sha256</a></small><br>
                                    <a href="https://mirrorbits.lineageos.org/su/addonsu-13.0-arm64-signed.zip">addonsu-13.0-arm64-signed.zip</a><br>
                                    <small><a href="https://mirrorbits.lineageos.org/su/addonsu-13.0-arm64-signed.zip?sha1">sha1</a> <a href="https://mirrorbits.lineageos.org/su/addonsu-13.0-arm64-signed.zip?sha256">sha256</a></small>
                                </td>
                                <td>2017-06-21</td>
                            </tr>
                            <tr>
                                <td>su removal (arm)
                                <br>su removal (arm64)
                                <td>13.0</td>
                                <td><a href="https://mirrorbits.lineageos.org/su/addonsu-remove-13.0-arm-signed.zip">addonsu-remove-13.0-arm-signed.zip</a><br>
                                    <small><a href="https://mirrorbits.lineageos.org/su/addonsu-remove-13.0-arm-signed.zip?sha1">sha1</a> <a href="https://mirrorbits.lineageos.org/su/addonsu-remove-13.0-arm-signed.zip?sha256">sha256</a></small><br>
                                    <a href="https://mirrorbits.lineageos.org/su/addonsu-remove-13.0-arm64-signed.zip">addonsu-remove-13.0-arm64-signed.zip</a><br>
                                    <small><a href="https://mirrorbits.lineageos.org/su/addonsu-remove-13.0-arm64-signed.zip?sha1">sha1</a> <a href="https://mirrorbits.lineageos.org/su/addonsu-remove-13.0-arm64-signed.zip?sha256">sha256</a></small>
                                </td>
                                <td>2017-06-21</td>
                            </tr>
                            <tr>
                                <td>Weather Providers</td>
                                <td></td>
                                <td><a href="https://mirrorbits.lineageos.org/WeatherProviders/YahooWeatherProvider.apk">YahooWeatherProvider.apk</a><br>
                                    <small><a href="https://mirrorbits.lineageos.org/WeatherProviders/YahooWeatherProvider.apk?sha1">sha1</a> <a href="https://mirrorbits.lineageos.org/WeatherProviders/YahooWeatherProvider.apk?sha256">sha256</a></small>
                                    <br><a href="https://mirrorbits.lineageos.org/WeatherProviders/OpenWeatherMapWeatherProvider.apk">OpenWeatherMapWeatherProvider.apk</a><br>
                                    <small><a href="https://mirrorbits.lineageos.org/WeatherProviders/OpenWeatherMapWeatherProvider.apk?sha1">sha1</a> <a href="https://mirrorbits.lineageos.org/WeatherProviders/OpenWeatherMapWeatherProvider.apk?sha256">sha256</a></small>
                                    <br><a href="https://mirrorbits.lineageos.org/WeatherProviders/WundergroundWeatherProvider.apk">WundergroundWeatherProvider.apk</a><br>
                                    <small><a href="https://mirrorbits.lineageos.org/WeatherProviders/WundergroundWeatherProvider.apk?sha1">sha1</a> <a href="https://mirrorbits.lineageos.org/WeatherProviders/WundergroundWeatherProvider.apk?sha256">sha256</a></small>
                                </td>
                                <td>2017-06-21</td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
