{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="card-panel">
                <h4>Extras</h4>
                <div class="scrollable-table">
                    <table class="striped bordered">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Version</th>
                                <th>File</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>su (arm)
                                <br>su (arm64)
                                <br>su (x86)</td>
                                <td>14.1</td>
                                <td><a href="https://mirrorbits.lineageos.org/su/addonsu-arm-signed.zip">addonsu-arm-signed.zip</a><br><small>md5sum: c4863659dfa83ff53de16674e88c5580</small>
                                <br><a href="https://mirrorbits.lineageos.org/su/addonsu-arm64-signed.zip">addonsu-arm64-signed.zip</a><br><small>md5sum: adab206bda3c40d3d78c0b3177e7f503</small>
                                <br><a href="https://mirrorbits.lineageos.org/su/addonsu-x86-signed.zip">addonsu-x86-signed.zip</a><br><small>md5sum: ba88c94dfa19e928c2fbacb419bc232e</small></td>
                                <td>2017-01-26</td>
                            </tr>
                            <tr>
                                <td>su removal (arm)
                                <br>su removal (arm64)
                                <br>su removal (x86)</td>
                                <td>14.1</td>
                                <td><a href="https://mirrorbits.lineageos.org/su/addonsu-remove-arm-signed.zip">addonsu-remove-arm-signed.zip</a><br><small>md5sum: 2d151c937b51848331337c8e43d23262</small>
                                <br><a href="https://mirrorbits.lineageos.org/su/addonsu-remove-arm64-signed.zip">addonsu-remove-arm64-signed.zip</a><br><small>md5sum: fab0046b1af7673297ccdb59aa8d1f7b</small>
                                <br><a href="https://mirrorbits.lineageos.org/su/addonsu-remove-x86-signed.zip">addonsu-remove-x86-signed.zip</a><br><small>md5sum: 41e3db4c31371eb4ee0716f4c79805e0</small></td>
                                <td>2017-01-26</td>
                            </tr>
                            <tr>
                                <td>su (arm)
                                <br>su (arm64)
                                <td>13.0</td>
                                <td><a href="https://mirrorbits.lineageos.org/su/13.0/addonsu-arm-signed.zip">addonsu-arm-signed.zip</a><br><small>md5sum: 6d15ae605818c8d990ad117989fc39fc</small>
                                <br><a href="https://mirrorbits.lineageos.org/su/13.0/addonsu-arm64-signed.zip">addonsu-arm64-signed.zip</a><br><small>md5sum: 1c8cf10a94be9462bd24244b0664ae2c</small>
                                <td>2017-03-15</td>
                            </tr>
                            <tr>
                                <td>su removal (arm)
                                <br>su removal (arm64)
                                <td>13.0</td>
                                <td><a href="https://mirrorbits.lineageos.org/su/13.0/addonsu-remove-arm-signed.zip">addonsu-remove-arm-signed.zip</a><br><small>md5sum: 1f3c4261fc121795e71312f79ab960cf</small>
                                <br><a href="https://mirrorbits.lineageos.org/su/13.0/addonsu-remove-arm64-signed.zip">addonsu-remove-arm64-signed.zip</a><br><small>md5sum: 9c0f238ecbe4b689b7b38d7da2894242</small>
                                <td>2017-03-15</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
