nav {
    background-color: #167C80 !important;
}

.page-footer {
    background-color: #167c80 !important;
}

.top-logo {
    height: 64px;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

