<!DOCTYPE html>
<html lang="en">
    <head>
        <title>LineageOS Downloads</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
        <link rel="stylesheet" href="static/site.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    </head>
    <body>
        <nav role="navigation">
            <div class="nav-wrapper container">
                <a href="/" class="brand-logo">LineageOS Downloads</a>
                <ul id="nav-mobile" class="right">
                    <li><img class="top-logo" src="static/logo.png" /></li>
                </ul>
        </nav>
        <div class="row">
            <div class="col s12 m4 l2">
                <div class="card-panel grey lighten-2">
                    <ul>
                        <li><h5>Devices</h5></li>
                        {% block devices %} {% endblock %}
                    </ul>
                </div>
            </div>
            <div class="col s12 m8 l10">
                <div class="card-panel white">
                   {% block content %} {% endblock %}
                </div>
            </div>
        </div>

        <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l12 s12">
                  <p class="grey-text text-lighten-4">Note: md5sums are provided to verify the file download was successful. If you'd like to verify the file has not been tampered with, check its signature instead. More information on how to do this can be found <a class="grey-text text-lighten-2" href="">here</a>.</p>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017 LineageOS. Licensed under Apache 2.0. 
            <a class="grey-text text-lighten-4 right" href="https://github.com/lineageos/lineageos_updater">Source</a>
            </div>
          </div>
        </footer>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript">
            $(".button-collapse").sideNav();
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    </body>
</html>


