{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="card-panel">
                <h4>Builds</h4>
                <table class="striped bordered responsive-table">
                    <tr>
                        <th>Type</th>
                        <th>Version</th>
                        <th>File</th>
                        <th>Date</th>
                    </tr>
                    {% for rom in roms %}
                    <tr>
                        <td>{{rom.romtype}}</td>
                        <td>{{rom.version}}</td>
                        <td>
                            <a href="{{rom.url}}">{{rom.filename}}</a> <br /><small>md5sum: {{rom.md5sum}}</small>
                        </td>
                        <td>{{rom.datetime}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}

{% endblock %}
