{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="card-panel">
                <h4>Extras</h4>
                <div class="scrollable-table">
                    <table class="striped bordered">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Version</th>
                                <th>File</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for version in data %}
                        {% for thing in version.extras %}
                            <tr>
                                <td>{{ thing.name }}</td>
                                <td>{{ version.version }}</td>
                                <td>{{ thing.date}}</td>
                                {% set name = thing.url.split("/")[-1] %}
                                <td><a href="{{thing.url}}">{{name}}</a><br>
                                    <small><a href="{{thing.url}}?sha256">sha256</a></small>
                                </td>
                                <td>{{thing.date}}</td>
                            </tr>
                        {% endfor %}
                        {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
